@model RegistroJATICS.Models.Taller

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Taller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Taller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Taller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resumenDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadParticipantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadParticipantes)
        </dd>

    </dl>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Asistentes</div>
    <div class="panel-body">
        @if (Model.Usuarios.Count > 0) { 
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.Usuarios.FirstOrDefault().NombreCompleto)</th>
                    <th>@Html.DisplayNameFor(model => model.Usuarios.FirstOrDefault().Institucion)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var asistente in Model.Usuarios.Where(usu => !usu.Roles.ElementAt(0).RoleId.Equals("admin")))
                {
                    <tr>
                        <td>@Html.DisplayFor(model=>asistente.NombreCompleto)</td>
                        <td>@Html.DisplayFor(model => asistente.Institucion.Nombre)</td>
                        @if (asistente.Roles.ElementAt(0).RoleId.Equals("visitante"))
                        {
                            <td>
                                @Html.ActionLink("Eliminar", "Delete", "Account", new { id = asistente.Id }, null) |
                                @Html.ActionLink("Editar", "Edit2", "Account", new { id = asistente.Id }, null)
                            </td>
                        }
                        else
                        {
                            <td>
                                @Html.ActionLink("Editar", "Edit2", "Account", new { id = asistente.Id }, null)
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
        }else
        {
            <div class="alert alert-warning">No hay alumnos inscritos a este taller.</div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Taller }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
