@model IEnumerable<RegistroJATICS.Models.Taller2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Talleres del 01 de Marzo</h2>

<p>
    @Html.ActionLink("Agregar Taller", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Taller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadParticipantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantRegistrados)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Taller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resumenDescripcion)
        </td>
        <td>
            @Html.DisplayFor(model => item.CantidadParticipantes)
        </td>
        <td>
            @Html.DisplayFor(model => item.cantRegistrados)
        </td>
        <td style="width:8em">
            <i class="glyphicon glyphicon-edit"></i>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_Taller2 }) <br />
            <i class="glyphicon glyphicon-info-sign"></i>
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_Taller2 }) <br />
            <i class="glyphicon glyphicon-remove"></i>
            @Html.ActionLink("Borrar", "Delete", new { id=item.ID_Taller2 })
        </td>
    </tr>
}

</table>
